.side {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.virtueWidgetLi {
  display: flex;
  flex-direction: column;

  .radio-container-soul {
    display: flex;
    flex-direction: column;
    width: 100%;

    .dot-line {
      display: flex;
      justify-content: space-between;
      margin: 0.2em 0;
    }
  }
}

main {
  font-size: 200%;

  form {
    display: flex;
    flex-direction: column;

    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 1em;

      h3 {
        text-align: center;
      }

      .article-container {    
        
        article {
          border: 1px $primary-bg-color solid;
          padding: 0.5em;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
            font-weight: 1000;
          }

          ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            #soulp {
              padding-top: 0.5em;
              border-top: 1px solid $primary-bg-color;
            }

            li {
              padding: 0.2em;
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              height: 100%;

              textarea {
                display: flex;
                height: 100%;
                width: 100%;
              }

              label {
                width: 40%;
              }
              
              input {
                padding: 0.5em;
                width: 100%;
              }

              .radio-container {
                display: flex;
                justify-content: space-between;
                width: 50%;

                input {
                  border: 0px;
                  width: 100%;
                  height: 2em;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 721px) {
  .side {
    width: 50%;
    margin: 0.5em;
  }

  main {
    font-size: 80%;
    form {
      flex-direction: row;

      section {

        .article-container {
          display: flex;

          article {
            width: 100%;

            ul {
              li {
                .input-label {
                  width: 40%;
                }

                input {
                  padding: 0;
                  width: 60%;
                }

                .radio-container {
                  input {
                    margin-left: 0.5em;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}